@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    color: #89929b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #181818;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    color: #89929b; 
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #21262d;
    border: 1px solid #161b22;
    float: left;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 34px;
    color: #0a0a0a;
    height: 60px;
    width: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    transition: all 0.15s ease-in-out;
}

.square:hover {
    background: #2c323b;
}

.square-winning {
    background: rgb(101, 167, 101);
    transform: scale(1.1) rotate(360deg);
}

.square-winning:hover {
    background-color: rgb(101, 167, 101);
}

.square-winning:nth-of-type(1) {
    transition-delay: 0;
}

.square-winning:nth-of-type(2) {
    transition-delay: 0.2s;
}

.square-winning:nth-of-type(3) {
    transition-delay: 0.4s;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    padding: 2rem;
    width: 60vw;
    min-width: fit-content;
    height: fit-content;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #161b22;
    border: 1px solid #21262d;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(10, 10, 10);
}

.game-board {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info {
    width: fit-content;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
        list-style-type: none;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;

        li {
            margin: 0.5rem auto;

            button {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 1.2rem;
                color: #89929b;
                border-radius: 1.1rem;
                border: 0;
                padding: 0.6rem;
                margin: auto;
                text-align: center;
                width: 18rem;
                background: #21262d;
            }
        }
    }
}

.winner {
    transition: 0.3s all ease;
    color: rgb(101, 167, 101);
    animation: blink 1s ease-in-out 0.5s;
    animation-iteration-count: 3;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 80%;
    }

    body {
        height: max-content;
        min-height: 100vh;
        padding: 1rem 0;
    }

    .game {
        flex-direction: column;
        height: auto;
        width: auto;
    }
}
